* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin: 10%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: aliceblue;

}

.content {
  margin: auto 5% 5%;
  display: grid;
  grid-template-columns: 1fr auto; /* Texto ocupa espaço restante, imagem com tamanho automático */
  gap: 3rem; /* Espaço entre texto e imagem */
  background: linear-gradient(135deg, #282c34, #182237);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 2rem;
  animation: ease 2s fadeIn;
  box-shadow: 0 4px 8px #182237;
}

.content :hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.content p {
  color: aliceblue;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0; /* Remove margens extras */
}

.content img {
  max-width: 350px; /* Controla o tamanho da imagem */
  height: auto;

  border-radius: 4px; /* Opcional: estilo adicional */
}

.content img:hover {
  box-shadow: 0 8px 16px #182237;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; /* Uma coluna no mobile */
    text-align: justify; /* Centraliza o texto */
  }


  .content img {
    max-width: auto; /* Imagem ocupa toda a largura disponível */
    min-height: auto; /* Espaço acima da imagem */
    margin: 0;
  }
}