body {
    font-family: Arial, sans-serif;
    margin: 20px;
    box-sizing: border-box;
    background-color: cadetblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 8px;
    justify-content: center; /* Centraliza horizontalmente */

}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.div1 {
    grid-column: span 3 / span 3;
    border: 1px solid #000;
    height: 100px;
    background-color: lightgray;
    

}

.div2 {
    grid-row-start: 2;
    border: 1px solid #000;
    height: 100px;
    background-color: lightgray;
}

.div3 {
    grid-row-start: 2;
    border: 1px solid #000;
    height: 100px;
    background-color: lightgray;
}

.div4 {
    grid-row-start: 2;
    border: 1px solid #000;
    height: 100px;
    background-color: lightgray;
}
        